{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "firefox/new/fx-lifestyle-base.html" %}

{% block page_css %}
  {% stylesheet 'firefox_new_browse_up_to_you' %}
{% endblock %}

{% block head_content %}
  <h2>
    How You Browse is Up to You.
  </h2>
  
  <p>
   And how your browser responds when you’re on the go should be up to you, too! Use Firefox on desktop <i>and</i> mobile.
  </p>
{% endblock %}

{% block content_1 %}
  <section class="content-section" id="add-on">
    <div class="content">
      <div class="copy">
        <h3>Add-on what you need, skip what you don’t</h3>

        <p>
          Ad blockers, video downloaders, password managers... Firefox gives you thousands of the tools to explore the web your way. Check out our featured <a href="https://addons.mozilla.org/en-US/firefox/" target="_blank">add-ons</a>.
        </p>
      </div>
    </div>
  </section>
{% endblock %}

{% block content_2 %}
  <section class="content-section" id="theme">
    <div class="content">
      <div class="copy">
        <h3>Make it your own</h3>

        <p>
          Customize Firefox with a design that fits your style. Create your own or try on a pre-made <a href="https://addons.mozilla.org/en-US/firefox/themes/" target="_blank">theme</a>.
        </p>
      </div>
    </div>
  </section>
  
{% endblock %}

{% block content_3 %}
  <section class="content-section" id="everywhere">
    <div class="content">
      <div class="copy">
        <h3>Take your show on the road</h3>

        <p>
          Switching to your phone doesn’t mean you have to give up choice. Get Firefox on your phone and tablet and access your tabs, bookmarks and logins on the road.
        </p>  
      </div>
    </div>
  </section>
{% endblock %}

