{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "firefox/new/fx-lifestyle-base.html" %}

{% block page_css %}
  {{ super() }}
  {% stylesheet 'firefox_new_conformity_not_default' %}
{% endblock %}

{% block head_content %}
  <h2>
    Non-profit. Non-corporate. Non-conformist.
  </h2>
{% endblock %}

{% block content_1 %}
  <h3>Add-on what you need, skip what you don’t</h3>

  <p>
    Ad blockers, video downloaders, password managers... Firefox gives you thousands of the tools to explore the web your way. Check out our featured <a href="https://addons.mozilla.org/en-US/firefox/" target="_blank">add-ons</a>.
  </p>
{% endblock %}

{% block content_2 %}
  <h3>Make it your own</h3>

  <p>
    Customize Firefox with a design that fits your style. Create your own or try on a pre-made <a href="https://addons.mozilla.org/en-US/firefox/themes/" target="_blank">theme</a>.
  </p>
{% endblock %}

{% block content_3 %}
  <h3>Backed by a nonprofit</h3>

  <p>
    We do things a bit differently when our motivations are clear: we respect people’s identity and data across the internet.
  </p>
{% endblock %}
